root = true

# Global rules for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Rules specifically for TS and JS
[*.{ts,tsx,js,jsx}]
indent_style = tab
indent_size = 8
tab_width = 8
